---
import "@/styles/global.css";
import background from "@/assets/background.svg";
// Component Imports
import { StickyNote } from "@/components/StickyNote";
import Main from "@/layouts/main.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Main title="Sticky Notes">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <div class="grid md:place-items-center h-screen md:content-center">
    <StickyNote client:load />
  </div>
</Main>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
</style>
