---
import { Toaster } from "@/components/ui/sonner";
import { pwaInfo } from "virtual:pwa-info";

import "@/styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/.png"
      href="/sticky-notes-app/sticky-note-white.png"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/.png"
      href="/sticky-notes-app/sticky-note-black.png"
      media="(prefers-color-scheme: light)"
    />
    <title>{title}</title>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>
  </head>
  <body class="select-none">
    <slot />
    <Toaster client:load />
  </body>
</html>
